.wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    padding: 9px 16px;
    border-radius: 4px;
    font-size: 1.6rem;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid transparent;
    background-color: var(--white);
    user-select: none;

    + .wrapper {
        margin-left: 8px;
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}

.rounded {
    padding: 0 8px;
    min-width: 90px;
    height: 32px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    border-radius: 52px;
    border-color: rgba(22, 24, 35, 0.12);
    background-color: rgba(255, 255, 255, 1);
    color: rgba(22, 24, 35, 0.75);

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
        border-color: rgba(22, 24, 35, 0.2);
    }
}
.primary {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(254, 44, 85, 1);

    &:hover {
        border-color: var(--primary);
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
    }
}
// Button Follow
.outline {
    border-color: currentColor;
    color: var(--primary);
    &:hover {
        border-color: currentColor;
        background-color: rgba(254, 44, 85, 0.06);
    }
}

//Button sizer button

.small {
    min-width: 88px;
    padding: 4px 16px;
}

.large {
    min-width: 168px;
    min-height: 48px;
    font-size: 18px;
    line-height: 25px;
    font-weight: 600;
    padding: 6px 8px;
    width: 100%;
}

.text {
    padding: 0px 16px;
    border: 1px solid rgba(22, 24, 35, 0.12);
    height: 36px;

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}
