@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&family=Merriweather:wght@300&family=Oswald:wght@400;700&family=Roboto:ital,wght@0,300;0,400;1,700&display=swap');

:root {
    // DefaultLayout
    --default-layout-header-height: 60px;
    --default-layout-width-content: 1150px;
    --default-layout-horizontal-spacer: 24px;

    --text-color: #333;
    --primary: rgba(254, 44, 85, 1);
    --black: #000;
    --white: #fff;
}

html {
    font-size: 62.5%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}
input,
button,
[tabindex] {
    border: none;
    outline: none;
}

a[href] {
    color: var(--black);
    text-decoration: none;
}
