.wrapper {
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-button-width: 52px;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    width: 100%;
    height: var(--default-layout-header-height);
    padding: 0px 24px 0px 20px;
    background-color: white;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);

    display: flex;
    justify-content: center;
}
.inner {
    margin-top: 0px;
    height: 100%;
    width: var(--default-layout-width-content);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px var(--default-layout-horizontal-spacer);

    .link-logo {
        display: flex;
    }
}

.more-btn {
    margin-left: 28px;
    font-size: 2rem;
    background-color: transparent;
    padding: 4px 8px;
    cursor: pointer;
}

// Login
.action {
    display: flex;
    flex-direction: row;
    align-items: center;

    .current-user {
        display: flex;
        justify-content: center;
        align-items: center;
        // button
        .action-user {
            background-color: transparent;
            font-size: 2.4rem;
            color: rgb(22, 24, 35);
            line-height: 21px;
            padding: 5px 13px;
            cursor: pointer;
            height: 51px;
            width: 63px;
        }
    }

    //Avatar account
    .user-avatar {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        cursor: pointer;
        object-fit: cover;
        margin-left: 12px;
    }
}
