.wrapper {
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-button-width: 52px;

    height: var(--default-layout-header-height);
    display: flex;
    justify-content: center;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    padding: 0px 24px 0px 20px;
    width: 100%;
}
.inner {
    margin-top: 0px;
    height: 100%;
    width: var(--default-layout-width-content);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px var(--default-layout-horizontal-spacer);
}
.search,
.search-result {
    width: 361px;
}
.search {
    width: 361px;
    height: var(--search-height);
    background: rgba(22, 24, 35, 0.06);
    border-radius: 92px;
    padding-left: 16px;
    display: flex;
    position: relative;
    border: 1px solid transparent;
    input {
        flex: 1px;
        font-weight: 400;
        width: 292px;
        height: 100%;
        font-size: 16px;
        background: transparent;
        padding: 12px;
        caret-color: rgb(135, 14, 14);
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
        background: rgba(22, 24, 35, 0.06);
    }

    &::after {
        content: '';
        position: absolute;
        height: calc(var(--search-height) - var(--search-top-spacer) * 2);
        background: rgba(22, 24, 35, 0.12);
        width: 1px;
        top: var(--search-top-spacer);
        right: calc(var(--search-button-width) - 2px);
    }

    &:focus-within {
        border: 1px solid rgba(22, 24, 35, 0.2);
    }
}

.search-title {
    font-size: 1.4rem;
    color: rgba(22, 24, 35, 0.5);
    height: 30px;
    padding: 5px 12px;
    font-weight: 600;
}
.clear-btn,
.loading {
    position: absolute;
    right: calc(var(--search-button-width) + 16px);
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.34);
}

.search-btn {
    width: 50px;
    height: 44x;
    cursor: pointer;
    border-radius: 0px 92px 92px 0px;
    font-size: 1.9rem;
    color: rgba(22, 24, 35, 0.06);
    padding: 0px;
    margin: 0px;

    &:hover {
        background: rgba(22, 24, 35, 0.03);
        cursor: pointer;
    }

    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}

.more-btn {
    margin-left: 28px;
    font-size: 2rem;
    background-color: transparent;
    padding: 4px 8px;
    cursor: pointer;
}

// Login
.action {
    display: flex;
    flex-direction: row;
    align-items: center;
    // button
    .action-user {
        background-color: transparent;
        font-size: 2.4rem;
        color: rgb(22, 24, 35);
        line-height: 21px;
        padding: 4px 13px;
        cursor: pointer;
    }

    //Avatar account
    .user-avatar {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        cursor: pointer;
        object-fit: cover;
        margin-left: 12px;
    }
}
